.container {
  text-align: center;
  margin-top: 50px;
}
.maincard {
  font-family: "Montserrat", sans-serif;
  border-color: #113f67;
  border-radius: 20px;
  border-width: 2px;
  max-width: 1000px;
  margin: auto;
}
.card-body {
  font-family: "Montserrat", sans-serif;
  max-width: 800px;
  font-size: 30px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
}
#fahrenheit-link {
  text-decoration: none;
}

#celcius-link {
  text-decoration: none;
}

.days {
  border-color: #a2a8d3;
  border-radius: 20px;
  border-width: 2px;
}
.weather-forecast-day {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  color: #113f67;
}
.temp {
  font-size: 30px;
}

.data {
  list-style: none;
  font-size: 25px;
  display: block;
}
.sunny {
  color: rgb(238, 238, 113);
}

.description {
  list-style: none;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
